{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    {% if excerpt != '' %}
        <p>{{ content|striptags|truncate(excerpt) }}</p>
    {% else %}
        <p>{{ content|raw|nl2br }}</p>
    {% endif %}
{% endblock content %}
